.check-container {
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    border: 1px solid #79747e;
    border-radius: 8px;
    cursor: pointer;
    padding: 6px 16px;
    height: 32px;
    width: max-content;
    color: #49454f;
}

.check-container:hover {
    background-color: #e8def8;
}

.check-container label {
    cursor: pointer;
}

.active-filter {
    transition: 0.2s ease;
    border: none;
    background-color: #e8def8;
}

.active-filter:hover {
    box-shadow: 0 1px 5px #49454f;
}

input[type='checkbox'] {
    display: none;
    cursor: pointer;
}

.checked {
    margin-right: 8px;
}