* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}
.log-form {
	display: flex;
	position: relative;
	top: 20vh;
	left: 35vw;
	flex-direction: column;
	align-items: center;
	width: 400px;
	gap: 10px;
}
.log-form input {
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	width: 350px;
	height: 40px;
	text-indent: 16px;
	font-size: 1.1rem;
    margin-bottom: 1rem;

}
.log-form  input::placeholder{
    color: #B3B3B3;
    font-weight: normal;
}

.log-form  input:focus {
	outline: solid #D9D9D9 1px ;

}
.log-form > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.log-form > button {
	width: 220px;
	height: 40px;
    border-radius: 8px;
    color: #F5F5F5;
    background-color: #2C2C2C;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
